@model Assignment_2.Models.BusInfo



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bus Info</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @readonly = "readonly", @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BusId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.BoardingPoint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BoardingPoint", new List<SelectListItem>{
                new SelectListItem { Text = "BANGLORE",Value="BGL"},
                new SelectListItem { Text = "CHENNAI",Value="CHN"},
                new SelectListItem { Text = "HYDERABAD", Value = "HYD" },
                new SelectListItem { Text = "MUMBAI", Value = "MUM" },
                new SelectListItem { Text = "PUNE", Value = "PUN" }

             })

                @Html.ValidationMessageFor(model => model.BoardingPoint, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Rating", new List<SelectListItem>{
                   new SelectListItem { Text = "1",Value="1"},
                   new SelectListItem { Text = "2",Value="2"},
                   new SelectListItem { Text = "3", Value = "3" },
                   new SelectListItem { Text = "4", Value = "4" },
                   new SelectListItem { Text = "5", Value = "5" }

                })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
