@model IEnumerable<Assignment_2.Models.BusInfo>


<h3>PKR TRAVELS</h3>
<ul>
    <li>@Html.ActionLink("BUS DETAILS", "BusDetails")</li>
    <li>@Html.ActionLink("BUS DETAILS BY DATE", "BusDetailsbydate")</li>
    <li>@Html.ActionLink("BUS DETAILS BY BOARDINGPOINT", "BusDetailsbyboardingpoint")</li>
    <li>@Html.ActionLink("BUS DETAILS BY RATING", "BusDetailsbyRating")</li>
    <li>@Html.ActionLink("BUS DETAILS BY AMOUNT", "BusDetailsbyAmount")</li>
    <li>@Html.ActionLink("ADD BUS DETAILS", "create")</li>
</ul>
